Repository GeekMasher/ghastoolkit, pull requests merged in 2023-10, with the labels that each got.

#140 fix: dependency graph version data
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/dependencygraph.py
Labels: supplychain, octokit, version

#142 feat: add support for Dependency repositories from graphql API
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/octokit/graphql/GetDependencyInfo.graphql
  src/ghastoolkit/octokit/graphql/__init__.py
  src/ghastoolkit/supplychain/dependencies.py
Labels: supplychain, octokit

#143 V087
  docs/examples/dependencies.md
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/supplychain/dependencies.py
Labels: docs, supplychain, version

#144 Update CLI Utils
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/utils/cli.py
Labels: version

#145 Enterprise and Organization octokit classes
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/enterprise.py
  src/ghastoolkit/octokit/github.py
  src/ghastoolkit/octokit/octokit.py
  src/ghastoolkit/octokit/repository.py
Labels: octokit

#149 v0.9.0
  Pipfile
  Pipfile.lock
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#150 Update cli.py
  src/ghastoolkit/codeql/cli.py
Labels: codeql

#151 Enhancement of CLI functionality and improvement in database handling in ghastoolkit
  src/ghastoolkit/codeql/cli.py
  src/ghastoolkit/codeql/databases.py
Labels: codeql

#152 v0.9.1
  .github/workflows/docs.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#155 Add flag to remove/include github default orgs
  src/ghastoolkit/octokit/enterprise.py
Labels: octokit

#156 v0.9.2
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version
