Repository GeekMasher/ghastoolkit, pull requests merged in 2023-08, with the labels that each got.

#97 Add org dependency graph
  docs/examples/dependencies.md
  src/ghastoolkit/octokit/dependencygraph.py
Labels: docs, supplychain, octokit

#99 feat: v0.7.2
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#100 Dependency Graph get dependencies for an org bug fix
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/octokit/github.py
Labels: supplychain, octokit, version

#101 fix: add run query support for suites
  src/ghastoolkit/codeql/cli.py
Labels: codeql

#102 Add Supply Chain CLI
  src/ghastoolkit/supplychain/__main__.py
Labels: supplychain

#103 feat: v0.7.4
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#104 feat: add cli docs
  docs/cli/index.rst
  docs/cli/supplychain.md
  docs/index.rst
Labels: docs

#106 Update docs for dependencies
  docs/api/supplychain/dependencies.rst
  docs/api/supplychain/dependency.rst
  docs/api/supplychain/index.rst
  src/ghastoolkit/supplychain/dependencies.py
Labels: docs, supplychain

#107 Depgraph server
  src/ghastoolkit/octokit/clearlydefined.py
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/octokit/github.py
  src/ghastoolkit/octokit/octokit.py
  tests/test_github.py
Labels: supplychain, octokit

#109 v0.7.5
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#108 feat: add new CLI interfaces
  .github/workflows/python-package.yml
  src/ghastoolkit/__main__.py
  src/ghastoolkit/codeql/__main__.py
  src/ghastoolkit/supplychain/__main__.py
  src/ghastoolkit/utils/__init__.py
  src/ghastoolkit/utils/cli.py
Labels: codeql, supplychain

#112 Add CodeQL pack publish command
  src/ghastoolkit/codeql/__main__.py
  src/ghastoolkit/codeql/packs/__main__.py
  src/ghastoolkit/codeql/packs/packs.py
Labels: codeql

#114 v0.8.0
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#117 Small update to packs CLI
  src/ghastoolkit/codeql/packs/__main__.py
  src/ghastoolkit/codeql/packs/packs.py
Labels: codeql

#116 Allow `Repository` class to use its own token
  src/ghastoolkit/octokit/github.py
Labels: octokit

#118 feat: v0.8.1
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#121 CodeQL Pack Update
  Pipfile.lock
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/codeql/cli.py
  src/ghastoolkit/codeql/packs/__main__.py
  src/ghastoolkit/codeql/packs/pack.py
Labels: codeql, version

#123 Add better CodeQL support
  docs/cli/codeql-packs.md
  docs/cli/index.rst
  src/ghastoolkit/codeql/packs/__main__.py
  src/ghastoolkit/codeql/packs/pack.py
  src/ghastoolkit/utils/cli.py
Labels: codeql, docs

#124 feat: v0.8.3
  docs/cli/codeql-packs.md
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: docs, version

#126 Retrieve Setting in GitHub.init()
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/github.py
Labels: octokit, version
