Repository GeekMasher/ghastoolkit, pull requests merged in 2023-07, with the labels that each got.

#59 v0.5.1
  .github/labeler.yml
  .github/workflows/labeler.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
  tests/test_default.py
Labels: version

#60 CodeQL Packs update
  docs/api/codeql/packs.rst
  docs/examples/codeql-packs.md
  src/ghastoolkit/__init__.py
  src/ghastoolkit/codeql/packs/__init__.py
  src/ghastoolkit/codeql/packs/__main__.py
  src/ghastoolkit/codeql/packs/pack.py
  src/ghastoolkit/codeql/packs/packs.py
  tests/test_default.py
Labels: codeql, docs

#61 Advisories Update
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/supplychain/advisories.py
  tests/test_advisories.py
Labels: supplychain, version

#63 feat: update examples docs
  .github/workflows/docs.yml
  .github/workflows/python-package.yml
  Pipfile
  docs/api/codeql/codeql-cli.rst
  docs/api/codeql/databases.rst
  docs/api/octokit/github.rst
  docs/api/octokit/index.rst
  docs/api/octokit/octokit.rst
  docs/api/octokit/repository.rst
  docs/api/octokit/supplychain.rst
  docs/examples/advisories.md
  docs/examples/index.rst
  src/ghastoolkit/__init__.py
Labels: docs

#64 Initial Advisories Octokit API
  docs/api/octokit/advisories.rst
  docs/api/octokit/index.rst
  docs/examples/advisories.md
  examples/advisories.py
  src/ghastoolkit/octokit/advisories.py
Labels: docs, octokit

#65 v0.5.3
  docs/api/octokit/index.rst
  docs/api/octokit/security-advisories.rst
  docs/api/supplychain/advisories.rst
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: docs, version

#66 Add enabled APIs
  src/ghastoolkit/octokit/codescanning.py
  src/ghastoolkit/octokit/secretscanning.py
Labels: codeql, octokit

#68 feat: v0.6.0
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#70 Update docs
  docs/examples/dependencies.md
  examples/codescanning.py
  examples/dependabot.py
  examples/licenses.py
  examples/secrets.py
  src/ghastoolkit/__main__.py
  src/ghastoolkit/octokit/dependabot.py
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/octokit/github.py
  tests/data/advisories.yml
  tests/test_advisories.py
  tests/test_github.py
Labels: docs, supplychain, octokit

#76 fix: correct types for code scanning functions
  src/ghastoolkit/octokit/codescanning.py
Labels: codeql, octokit

#77 feat: v0.6.1
  Pipfile.lock
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#79 feat: add isEnable support
  src/ghastoolkit/octokit/codescanning.py
  src/ghastoolkit/octokit/octokit.py
Labels: codeql, octokit

#78 Add support for PR comments
  src/ghastoolkit/octokit/github.py
  src/ghastoolkit/octokit/octokit.py
Labels: octokit

#80 feat: v0.6.2
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#81 feat: Add example running e2e tests
  .github/workflows/python-package.yml
  examples/codeql-databases.py
  examples/codeql-packs.py
  examples/codeql.py
  examples/dependabot.py
  examples/licenses.py
  examples/secrets.py
  src/ghastoolkit/codeql/cli.py
  src/ghastoolkit/codeql/databases.py
  src/ghastoolkit/codeql/packs/pack.py
  src/ghastoolkit/octokit/dependabot.py
  src/ghastoolkit/octokit/graphql/__init__.py
  tests/test_octokit.py
Labels: codeql, docs, supplychain, octokit

#82 CodeQL Examples
  docs/examples/codeql.md
  docs/examples/index.rst
  examples/codeql.py
  src/ghastoolkit/codeql/cli.py
  src/ghastoolkit/codeql/databases.py
Labels: codeql, docs

#92 Update Secret Scanning isEnabled()
  examples/secrets.py
  src/ghastoolkit/octokit/secretscanning.py
Labels: docs, octokit

#83 feat: add features to CodeQL
  examples/codeql.py
  src/ghastoolkit/codeql/cli.py
  src/ghastoolkit/octokit/codescanning.py
Labels: codeql, docs, octokit

#93 feat: v0.7.0
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#94 Update Secret Scanning docs
  docs/api/codeql/index.rst
  docs/api/codeql/packs.rst
  docs/api/codeql/results.rst
  docs/api/octokit/codescanning.rst
  docs/api/octokit/github.rst
  docs/api/octokit/octokit.rst
  docs/api/octokit/repository.rst
  docs/api/octokit/secretscanning.rst
  docs/api/octokit/supplychain.rst
  src/ghastoolkit/octokit/secretscanning.py
Labels: docs, octokit

#95 Add better logging to failing PR
  src/ghastoolkit/octokit/dependencygraph.py
Labels: supplychain, octokit
