Repository GeekMasher/ghastoolkit, pull requests merged in 2024-07, with the labels that each got.

#235 feat(version): v0.12.5
  .release.yml
  Pipfile.lock
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#238 feat(version): v0.12.6
  .release.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#232 Update mappings to repair failing alert creation and matching dependancies
  src/ghastoolkit/octokit/dependabot.py
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/supplychain/dependencyalert.py
Labels: supplychain, octokit

#239 feat(version): v0.12.7
  .release.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#240 feat(secretscanning): Update Enablement functions to check permissons
  src/ghastoolkit/octokit/secretscanning.py
Labels: octokit

#241 feat(codescanning): Update Code Scanning octokit docs
  src/ghastoolkit/octokit/codescanning.py
Labels: codeql, octokit

#242 feat(version): v0.12.8
  .release.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#243 GHASToolkit errors
  src/ghastoolkit/__init__.py
  src/ghastoolkit/errors.py
  src/ghastoolkit/octokit/octokit.py
Labels: octokit

#244 Add Default Setup PR support
  examples/codescanning.py
  src/ghastoolkit/__init__.py
  src/ghastoolkit/errors.py
  src/ghastoolkit/octokit/codescanning.py
Labels: codeql, docs, octokit

#245 feat: Update Octokit errors
  examples/secrets.py
  src/ghastoolkit/octokit/advisories.py
  src/ghastoolkit/octokit/clearlydefined.py
  src/ghastoolkit/octokit/dependabot.py
  src/ghastoolkit/octokit/dependencygraph.py
  src/ghastoolkit/octokit/enterprise.py
  src/ghastoolkit/octokit/octokit.py
  src/ghastoolkit/octokit/repository.py
  src/ghastoolkit/octokit/secretscanning.py
Labels: docs, supplychain, octokit

#246 feat(version): v0.13.0
  .release.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#247 feat: Add more known API Errors
  src/ghastoolkit/errors.py
  src/ghastoolkit/octokit/octokit.py
  tests/test_restrequest.py
Labels: octokit

#248 feat(version): v0.13.1
  .release.yml
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version
