Repository GeekMasher/ghastoolkit, pull requests merged in 2024-02, with the labels that each got.

#194 feat(deps): Add hashable support
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/supplychain/dependencies.py
  tests/test_dependencies.py
Labels: supplychain, version

#195 feat: Update GitHub to add better owner/org and repository support
  src/ghastoolkit/octokit/github.py
  src/ghastoolkit/octokit/repository.py
  tests/test_github.py
Labels: octokit

#199 v0.11.9
  pyproject.toml
  src/ghastoolkit/__init__.py
Labels: version

#200 feat(octo): Improve error handling in Octokit
  src/ghastoolkit/octokit/octokit.py
Labels: octokit

#202 fix: Solve issue with what key is used to find errors
  Pipfile
  Pipfile.lock
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/octokit.py
  tests/test_octokit.py
  tests/test_restrequest.py
Labels: octokit, version

#203 feat: Impove octokit error handling
  pyproject.toml
  src/ghastoolkit/__init__.py
  src/ghastoolkit/octokit/octokit.py
Labels: octokit, version

#205 Respect LOGLEVEL env var in octokit.py
  src/ghastoolkit/octokit/octokit.py
Labels: octokit
